<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ images_url }}default.css" />

    <title>{{ 'game.title'|trans }} - {{ 'home.title'|trans }}</title>
</head>
<body class="q_body">

<div>
    <table class="q_table">
        <tr>
            <td class="td_logo">{{ logo() }}</td>
        </tr>
        <tr>
            <td class="td_top_menu">{{ menu_up() }}</td>
        </tr>
        <tr>
            <td class="td_content">
                <span class="q_text">{{ announcement }}</span>

                <br />
                <br />

                {{ 'home.total_users'|trans({'count': stats['total_users']}) }}
                <br />
                {{ 'home.past_hours'|trans({'count': stats['last_users']}) }}

                <br />
                <br />

                {{ 'home.choose_language'|trans }}
                <br />
                <a class="q_link" href="ch_lang.php?lang=en.php"><img src="default/flag_en.gif"></a> | <a class="q_link" href="ch_lang.php?lang=ro.php"><img src="default/flag_ro.gif"></a> | <a class="q_link" href="ch_lang.php?lang=de.php"><img src="default/flag_de.gif"></a> | <a class="q_link" href="ch_lang.php?lang=it.php"><img src="default/flag_it.gif"></a> | <a class="q_link" href="ch_lang.php?lang=nl.php"><img src="default/flag_nl.gif"></a> | <a class="q_link" href="ch_lang.php?lang=fr.php"><img src="default/flag_fr.gif"></a>
            </td>
        </tr>
        <tr>
            <td class="td_bottom_menu">{{ menu_down() }}</td>
        </tr>
    </table>

    <p>{{ about() }}</p>
</div>

</body>
</html>
