<!DOCTYPE html>
<html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="templates/style/main.css" />

    <title>{{ 'game.title'|trans }} - {{ 'home.title'|trans }}</title>
</head>
<body>

<div class="container">
    <div class="logo">{{ 'game.title'|trans }}</div>
    <div class="menu">
        <a href="{{ 'home'|url }}">{{ 'menu.home'|trans }}</a>
    </div>

    <div class="content">
        {{ 'home.welcome'|trans }}

        <br />
        <br />

        {{ 'home.total_users'|trans({'count': stats['total_users']}) }}
        <br />
        {{ 'home.past_hours'|trans({'count': stats['last_users']}) }}

        <br />
        <br />

        {{ 'home.choose_language'|trans }}
        <br />
        <a class="q_link" href="ch_lang.php?lang=en.php"><img src="default/flag_en.gif"></a> | <a class="q_link" href="ch_lang.php?lang=ro.php"><img src="default/flag_ro.gif"></a> | <a class="q_link" href="ch_lang.php?lang=de.php"><img src="default/flag_de.gif"></a> | <a class="q_link" href="ch_lang.php?lang=it.php"><img src="default/flag_it.gif"></a> | <a class="q_link" href="ch_lang.php?lang=nl.php"><img src="default/flag_nl.gif"></a> | <a class="q_link" href="ch_lang.php?lang=fr.php"><img src="default/flag_fr.gif"></a>
    </div>

    <div class="submenu"></div>

    Devana created by Busuioc Andrei. Online at <a href="http://devana.eu">devana.eu</a>
</div>

</body>
</html>
